/* App.css */

/* Applying centering styles to the page-container */
.page-container {
  
  background:
  linear-gradient(rgb(11, 10, 10), transparent),
  linear-gradient(to top left, rgb(243, 15, 15), transparent),
  linear-gradient(to top right, blue, transparent);
  background-blend-mode: screen;
}

.container {
  
  padding: 2rem;
  background-color: #dc4747;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(25, 179, 48, 0.1);
  width: 100%;
  box-sizing: border-box;
  margin: 2rem auto; 
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}


.Htitle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #dc4747;
}







