/* App.css */

/* Apply centering styles to the page-container */
.page-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  min-height: 100vh;
}

.container {
  max-width: 800px;
  padding: 2rem;
  background-color: #dc4747;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
  margin: 2rem auto; /* Add margin at the top and bottom for spacing */
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Home page title */
.Htitle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #dc4747;
}

/* Rest of your existing CSS */

/* Navbar.css */
nav {
  background-color: #333;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}

