/* CheckoutForm.css (or your preferred CSS file) */

.checkout-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto; /* Center the form horizontally and add some spacing */
    padding: 20px;
    max-width: 400px; /* Limit the width to avoid excessive width */
    background-color: #f5f5f5; /* Background color */
    border: 1px solid #ccc; /* Add a border for separation */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Box shadow for a card-like effect */
    color: black;
  }
  
  .checkout-form h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: red;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  